//containers
$rr-container: 1728px;
$rr-secondcontainer: 1528px;
$rr-thirdcontainer: 1268px;

//colors
$primary: #82BC00;
$white: white;
$black: black;

//utilities
$h1-font-size: $font-size-base * 3.25;
$border-radius: 16px;