@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './variables';

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-Bold.woff2') format('woff2'),
      url('../fonts/DMSans-Bold.woff') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-BoldItalic.woff2') format('woff'),
      url('../fonts/DMSans-BoldItalic.woff') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-Italic.woff2') format('woff'),
      url('../fonts/DMSans-Italic.woff') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-Medium.woff2') format('woff'),
      url('../fonts/DMSans-Medium.woff') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-Regular.woff2') format('woff'),
      url('../fonts/DMSans-Regular.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-MediumItalic.woff2') format('woff'),
      url('../fonts/DMSans-MediumItalic.woff') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans';
}

h1 {
  font-size: $h1-font-size;
}



.rr-secondcontainer {
  max-width: $rr-secondcontainer;
}

.rr-thirdcontainer {
  max-width: $rr-thirdcontainer;
}

header {
  margin-inline: auto;
  position: relative;
  img {
    width: 100%;
    border-radius: 0 0 36px 36px;
  }
  nav {
    position: absolute;
    width: 100%;
    top: 0;
    margin-top: 60px;

    svg {
      width: 118px;
      height: 64px;
    }
    .nav-links {
      a {
        text-decoration: none;
        color: $white;
      }
    }
  }
}

.column-content {
  margin-inline: auto;

  h1{
    font-weight: 400;
  }
  .columns {
    .left-col {
      font-size: 24px;
      font-weight: 700;
    }
    .right-col {
      font-size: 36px;
      font-weight: 500px;
      a {
        font-size: $font-size-base;
        color: $black;
      }
    }
  }
}

.tiles {
  margin-inline: auto;
  .divider {
    a {
      color: $black;
    }
  }
  img {
    width: 100%;
    border-radius: $border-radius;
  }
}